{% extends 'store/base.html' %}
{% block title %}Mon compte{% endblock %}
{% block content %}
  <div class="container mt-4">
    <h2 class="mb-4">Mon profil</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success">Mettre à jour</button>
    </form>

    {% if request.user.profile_picture %}
      <div class="mt-4">
        <h5>Photo actuelle :</h5>
        <img src="{{ request.user.profile_picture.url }}" alt="Photo de profil" width="150" class="rounded">
      </div>
    {% endif %}
  </div>
{% endblock %}
